/* header */
.container {
  background-color: black;
  width: 100%;
  height: 100%;
}
.container .back-img {
  background-image: linear-gradient(to bottom right, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%), url(/assets/image/KR-ko-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-repeat: no-repeat;
}
header {
  padding: 3rem 3.2rem;
}
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-area .logo {
  width: 148px;
  height: 40px;
  
  
}
.header-area .login-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-area .login-area .select-area {
  display: flex;
  position: relative;
  border: 0.5px solid rgba(212, 212, 212, 0.922);
  background-color: rgba(0, 0, 0, 0.429);
  border-radius: 4px;
  
}

.header-area .login-area .select-area .select-button {
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  left: 0.75rem;
  right: auto;
  position: absolute;
  pointer-events: none;


}
.header-area .login-area .select-area label {
  display: flex;
}

.header-area .login-area .select-area select {
  width: 100%;
  height: 100%;
  border: none;
  padding: 6px 36px;
  appearance: none;
  background: none;
  color: #fff;
  min-width: auto;
  
  font-size: 1.6rem;
  font-weight: 700;
  
}
.header-area .login-area .select-area .arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}
.header-area .login-area button {
  padding: 4px 16px;
  background-color: #e50914;
  font-size: 1.4rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  margin-left: 1.2rem;
  height: 32px;
}
@media screen and (max-width: 959px) {
  header .header-area .logo {
    width: 89px;
    height: 24px;

  }
  
}
@media screen and (max-width: 600px) {
  header .header-area .login-area .select-area select {
    display: none;
  }
  header .header-area .login-area .select-area img:nth-of-type(1) {
    margin-right: 1rem;
  }
}
  

/* footer */
.footer-area {
  padding: 0 9.6rem 9.6rem;
  margin-top: 2.4rem;
  color: rgba(255, 255, 255, 0.7);
}
.footer-area .inquiry {
  display: flex;
  
  font-size: 1.8rem;
}
.footer-area .inquiry span {
  margin-left: 4px;
  text-decoration: underline;
}
.footer-area .question-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3.6rem;
}
.footer-area .question-list li {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  flex: 0 0 33.33%;
  text-decoration: underline;
}
.footer-area .select-area {
  display: flex;
  position: relative;
  border: 0.5px solid rgba(212, 212, 212, 0.922);
  background-color: rgba(0, 0, 0, 0.429);
  border-radius: 4px;
  width: 13rem;
  margin-top: 3.6rem;
  
}

.footer-area .select-area .select-button {
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  left: 0.75rem;
  right: auto;
  position: absolute;
  pointer-events: none;


}
.footer-area .select-area select {
  max-width: 100%;
  height: 100%;
  border: none;
  padding: 6px 36px;
  appearance: none;
  background: none;
  color: #fff;
  min-width: auto;
  
  font-size: 1.6rem;
  font-weight: 700;
  
}
.footer-area .select-area .arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.footer-area .footer-title {
  font-size: 1.4rem;
  margin-top: 3.6rem;
}
.footer-area .footer-content {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
  font-size: 1.2rem;
}
.footer-area .footer-content p:nth-of-type(7) {
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .footer-area .question-list li {
    flex: 0 0 50%;
  }
}

/* section main-content */

section .main-content {
  padding: 6rem 9.6rem 0;
}
section .main-content h1 {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 900;
  margin-top: 1.6rem;
}
section .main-content p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 1.6rem;
}
section .main-content h2,
.question-content h2:nth-of-type(2) {
  font-size: 2rem;
  color: #fff;
  margin-top: 3.2rem;
}
section .main-content .input-area,
.question-content .input-area {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
section .main-content .input-area input,
.question-content .input-area input {
  padding: 2.4rem 1.6rem 0.8rem;
  border: 1px solid rgba(212, 212, 212, 0.922);
  background-color: rgba(0, 0, 0, 0.429);
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  width: 423px;
  height: 56px;
  
}
section .main-content .input-area button,
.question-content .input-area button {
 
  flex: 0 0 auto;
  background-color: #e50914;
  padding: 14px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 2.4rem;
  border-radius: 4px;
  margin-left: 8px;
  line-height: 1;
  
}
section .main-content .input-area button i,
.question-content .input-area button i {
  margin-left: 4px;
  font-size: 2rem;
  line-height: 1;
 
}
@media screen and (max-width: 959px) {
  section .main-content {
    padding: 6rem 6.4rem 0;
  }
  section .main-content h1 {
    font-size: 4rem;
  }
  section .main-content h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 599px) {
  section .main-content .input-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  section .main-content .input-area button {
    margin-left: 0;
    margin-top: 1.6rem;
  }
}

/* category-content */
.category-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 10%,black);
  gap: 16px;
  margin-right: -16px;
}
.category-content div {
  flex: 0 0 calc(50% - 16px);
  padding: 26px 64px 40px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #09143C 0%, #101338 57.21%, #400E20 99.57%);
}
.category-content div h3 {
  font-size: 2.4rem;
  color: #fff;
  line-height: 0;
  word-break: keep-all;
}
.category-content div p {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 1.6rem;
  word-break: keep-all;
}
@media screen and (max-width: 599px) {
  .category-content {
    flex-direction: column;
    
  }
}

/* question-content */
.question-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0 9.6rem 9.6rem;
  margin-top: 5.2rem;
}
.question-content h2:nth-of-type(1) {
  margin-top: 1.6rem;
  font-size: 4rem;
  font-weight: 700;
}
.question-content .button-area {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}
.question-content .button-area button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  width: 100%;
  background-color: rgba(19, 33, 68, 1);
  margin-bottom: 8px;
  border-radius: 2px;
}
.question-content .button-area button:hover {
  background-color: rgba(34, 51, 98, 1);
}
.question-content .button-area button p {
  font-size: 2.4rem;
  font-weight: 600;
}
.question-content .button-area button i {
  font-size: 36px;
}
.background-color {
  padding: 0 3.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 10%,black);
}

