@charset "utf-8";

.page-wrap {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
  background-color: #000;
  color: #fff;
}

/* background-img */

.bg-area {
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-area img {
  min-height: 100%;
  min-width: 100%;
}

/* header-area */

.head-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, transparent);
  border-bottom: transparent;
}

.head-area a img {
  margin-left: 3%;
  margin-top: 2%;
  height: 8.5rem;
}

/* login-area */

.login-area {
  background-color: transparent;
  margin: 0 auto -23.6rem;
  max-width: 45rem;
  min-height: 100vh;
  color: #333;
  padding: 0 5%;
}
.login-area::before {
  content: "";
  display: block;
  height: 9.1rem;
}

.login-area .login-box {
  min-height: 66rem;
  margin-bottom: 9rem;
  min-height: 625px;
  padding: 6rem 6.8rem 4rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.main-login {
  flex-grow: 1;
}
.main-login h1 {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
}
.login-form {
  padding-bottom: 1.6rem;
  max-width: 100%;
}
.login-form .id-area {
  border-radius: 0.4rem;
  position: relative;
}
.login-form input {
  width: 100%;
  background: #333;
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  padding: 1.6rem 2rem 0;
}
.login-form label {
  left: 2rem;
  color: #8c8c8c;
  font-size: 14px;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
.pw-form {
  padding-bottom: 1.6rem;
  max-width: 100%;
}
.pw-form .pw-area {
  border-radius: 0.4rem;
}
.pw-form input {
  width: 100%;
  background: #333;
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  padding: 1.6rem 2rem 0;
}

.main-login .login-btn {
  width: 100%;
  color: #fff;
  background: #e50914;
  border-radius: 0.4rem;
  padding: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2.4rem 0 1.2rem;
}

/* footer-area */

.footer-area {
  padding: 0 9.6rem 9.6rem;
  margin-top: 2.4rem;
  color: rgba(255, 255, 255, 0.7);
}
.footer-area .inquiry {
  word-break: keep-all;

  font-size: 1.8rem;
}
.footer-area .inquiry a {
  margin-left: 4px;
  text-decoration: underline;
}
.footer-area .question-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3.6rem;
}
.footer-area .question-list li {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  flex: 0 0 33.33%;
  text-decoration: underline;
}
.footer-area .select-area {
  display: flex;
  position: relative;
  border: 0.5px solid rgba(212, 212, 212, 0.922);
  background-color: rgba(0, 0, 0, 0.429);
  border-radius: 4px;
  width: 13rem;
  margin-top: 3.6rem;
}

.footer-area .select-area .select-button {
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  left: 0.75rem;
  right: auto;
  position: absolute;
  pointer-events: none;
}
.footer-area .select-area select {
  max-width: 100%;
  height: 100%;
  border: none;
  padding: 6px 36px;
  appearance: none;
  background: none;
  color: #fff;
  min-width: auto;
  font-size: 1.6rem;
  font-weight: 700;
}
.footer-area .select-area .arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
}

.footer-area .footer-title {
  font-size: 1.4rem;
  margin-top: 3.6rem;
}
.footer-area .footer-content {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
  font-size: 1.2rem;
}
.footer-area .footer-content p:nth-of-type(7) {
  text-decoration: underline;
}
